<% if (weather) { %>
    <div class="w-full flex justify-center">
        <div class="w-3/4">
            <% if (weather.icon) { %>
                <img
                    class="w-full"
                    src="http://openweathermap.org/img/wn/<%= weather.icon %>@4x.png"
                    alt="<%= weather.description %>"
                />
            <% } %>
        </div>

        <div class="w-full flex flex-col align-middle justify-center uppercase">
            <p class="text-5xl m-0"><%= weather.location %>, <%= weather.country %></p>
            <p class="text-9xl m-0"><% Math.round(weather.temperature) %>°</p>
        </div>
    </div>

    <div class="flex justify-center uppercase text-xl">
        <div class="flex flex-col gap-2 py-3 text-right pr-10 border-solid border-r border-white">
            <p>Description</p>
            <p>Wind Speed</p>
            <p>Humidity</p>
            <p>Max Temp</p>
            <p>Country</p>
            <p>Timezone</p>
        </div>
        <div class="flex flex-col gap-2 pl-10 py-3 border-solid border-l border-white">
            <p><%= weather.description %></p>
            <p><%= weather.windspeed %></p>
            <p><%= weather.humidity %></p>
            <p><%= weather.maxtemp %></p>
            <p><%= weather.country %></p>
            <p><%= weather.timezone %></p>
        </div>
    </div>
<% } else { %>
    <div class="text-red-600">No weather data available</div>
<% } %>
